<div id='header'></div>

<div class='row'>
  <div class='col-md-10 col-md-offset-1'>
    <div id='details' class='form-horizontal'></div>
  </div>
</div>

<script type='text/template' id='tmpl-header'>
  <div>
    <h2>
      <a href='/admin/accounts/'>Events</a> / \{{event.name}}
    </h2>
  </div>
</script>

<script type='text/template' id='tmpl-details'>

  \{{#if showPartnerSelection}}
    <select id='partner-selection'>
      <option>Select Partner</option>
      \{{#each partners}}
        <option>\{{displayName}}</option>
      \{{/each}}
    </select>
    <br><br><br>
    <h3 id='display-msg'>Event properties common across all partners</h3>
    <br>
  \{{/if}}

  <div class='alerts'>
    \{{#each errors}}
      <div class='alert alert-error'>\{{this}}</div>
    \{{/each}}
    \{{#if success}}
      <div class='alert alert-info'>
        <button type='button' data-dismiss='alert' class='close'>&times;</button>Changes have been saved.
      </div>
    \{{/if}}
  </div>

  <ul class='nav nav-tabs'>
    \{{#each sortedEventProperties}}
      <li>
        <a href='#\{{this}}' data-toggle='tab'>\{{this}}</a>
      </li>
    \{{/each}}

    \{{#if isGenericEvent}}
      <div class='form-actions no-padding'>
        <button type='button' class='btn btn-add-property'>Add property</button>
        \{{#if hasProperties}}
          <button type='button' class='btn btn-rm-property'>Remove property</button>
        \{{/if}}
      </div>
    \{{/if}}
  </ul>

  <div class='tab-content'>
    \{{#each sortedEventProperties}}
      <div class="tab-pane fade" id="\{{this}}">
        <div class='\{{this}}-container'></div>
      </div>
    \{{/each}}
  </div>

  \{{#if hasProperties}}
    <div class='form-actions no-padding'>
      <button type='button' class='btn btn-edit'>Edit</button>
      <button type='button' class='btn btn-primary btn-update'>Update</button>
      <button type='button' class='btn btn-secondary btn-upload-csv'>Upload CSV</button>
      <input type="file" id="csv-file-input"/>
    </div>
  \{{/if}}
</script>

<script type='text/template' id='data-record'>
  {{{data.record}}}
</script>